img {
    object-fit: cover;
}

.anna {
  --accent: 247;
}

.sam {
  --accent: 340;
}

.henry {
  --accent: 200;
}

.james {
  --accent: 10;
}

.team-card {
    font-family: "Lato", sans-serif;
    color: hsla(var(--accent), 30%, 20%, 1);
    
}

.team-card img {
    max-height: 400px;
    max-width: 400px;
    position: relative;
}

.team-text h2 {
  margin-top: 0;
  text-decoration: underline hsla(var(--accent), 60%, 60%, 1);
}

.team-text {
  padding: 1.5em;
  text-align: justify;
  line-height: 1.5;
}

@media (min-width: 600px) {
    .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
    .team-card {position: relative;
/*    min-height: 800px;*/
    display: flex;
    flex-direction: column
    }
    
    .anna {
        align-items: flex-end;
    }
    
    .henry {
        align-items: flex-end;
    }
    
    .anna img {
        right: 0;
        bottom: 0;
    }
    
    .sam img {
        left: 0;
        bottom: 0;
    }
    
    .henry img {
        right: 0;
        top: 0;
        
    }
    
    .james img {
        left: 0;
        top: 0;
    }
    
    .henry, .james {
        flex-direction: column-reverse
    }
    
}

@media (max-width: 600px) {
  .team-card {
    height: 300px;
    display: flex;
    /* border: solid black; */
    justify-content: space-between;
    box-shadow: 4px 8px 20px 2px hsla(var(--accent), 50%, 30%, 0.4);
  }

  .right {
    flex-direction: row-reverse;
  }

  .team-image {
    max-width: 40%;
    height: 100%;
    object-fit: cover;
  }
}
